<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Weavler</title>
	<link rel="stylesheet" href="../css/style.min.css">
	<!-- Google Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Changa+One' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,700,500,900' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Raleway:100,200,300,,500' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Lato:400,100' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Work+Sans:400,100' rel='stylesheet' type='text/css'>
</head>
	<body class="body-signed-in">
		<div class="container">
			<header class="header">
				<img src="../assets/img/logo-small.svg" alt="logo" class="logo-small">
				<!-- Right Sideboard Settings Menu -->
				<nav class="nav-sideboard-right">
					<ul class="nav-sideboard-right_menu">
						<li>
							<a class="nav-sideboard-right_menu-item" href="#" tabindex="1">1</a>
						</li>
						<li>
							<a class="nav-sideboard-right_menu-item" href="#" tabindex="2">2</a>
						</li>
						<li>
							<a class="nav-sideboard-right_menu-item" href="#" tabindex="3">3</a>
							<ul class="nav-sideboard-right_menu-dropdown">
								<li>
									<a class="nav-sideboard-right_menu-dropdown-item" href="#">Account</a>
								</li>
								<li>
									<a class="nav-sideboard-right_menu-dropdown-item" href="#">General</a>
								</li>
								<li>
									<a class="nav-sideboard-right_menu-dropdown-item" href="#">Legal</a>
								</li>
								<li>
									<a class="nav-sideboard-right_menu-dropdown-item" href="#">Notifications</a>
								</li>
								<li>
									<a class="nav-sideboard-right_menu-dropdown-item" href="#">Pages</a>
								</li>
								<li>
									<a class="nav-sideboard-right_menu-dropdown-item" href="#">Payments</a>
								</li>
							</ul>
						</li>
					</ul>
				</nav>
			</header>
			<div class="content-dashboard">
				<!-- Left Sideboard Dashboard Menu -->
				<nav class="nav-sideboard-left menu-expanded">
					<ul class="nav-sideboard-left_menu">
						<li>
							<a class="nav-sideboard-left_menu-item" href="#"><!-- svg --><span class="span-menu-expanded">Expanded</span></a>
						</li>
						<li>
							<a class="nav-sideboard-left_menu-item" href="#"><!-- svg --><span class="span-menu-expanded">Expanded</span></a>
						</li>
						<li>
							<a class="nav-sideboard-left_menu-item" href="#"><!-- svg --><span class="span-menu-expanded">Expanded</span></a>
						</li>
						<li>
							<a class="nav-sideboard-left_menu-item" href="#"><!-- svg --><span class="span-menu-expanded">Expanded</span></a>
						</li>
						<li>
							<a class="nav-sideboard-left_menu-item" href="#"><!-- svg --><span class="span-menu-expanded">Expanded</span></a>
						</li>
						<li>
							<a class="nav-sideboard-left_menu-item" href="#"><!-- svg --><span class="span-menu-expanded">Expanded</span></a>
						</li>
						<li>
							<a class="nav-sideboard-left_menu-item" href="#"><!-- svg --><span class="span-menu-expanded">Expanded</span></a>
						</li>
						<li>
							<a class="nav-sideboard-left_menu-item" href="#"><!-- svg --><span class="span-menu-expanded">Expanded</span></a>
						</li>
					</ul>
				</nav>
				<div class="stats-container">
					<div class="stats stats-visitors">
						<div class="stats-visitors_counter stats-counter">5</div>
						<p class="stats-description">Visitors last 7 days</p>
					</div>
					<div class="stats stats-sales">
						<div class="stats-sales_counter stats-counter">10</div>
						<p class="stats-description">Sales last 7 days</p>
					</div>
				</div>
				<div class="orders-container">Latest Orders</div>
				<div class="features-container">Features Locked/Unlocked</div>
			</div>
			<footer>Footer</footer>
			</div>
		</div>
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
		<script src="../js/script.min.js"></script>
	</body>
</html>

